<div class="container">
    <div class="col-sm-8 mx-auto p-5 text-center">
        <p class="Anton text-white mt-5" style="font-size: 64px;">WELCOME</p>
        <p class="text-light bg-secondary px-5 py-1 Oswald">ABOUT THE APP</p>
        <p class="text-light Roboto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores deserunt
            nulla provident molestias perspiciatis id! Nobis laudantium repellendus dolores
            nesciunt, et laborum. Aliquid maxime, reprehenderit quo voluptatibus omnis animi
            laboriosam.</p>
    </div>
</div>
